
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


h1 {
    color: darkblue;
    margin-bottom: 15px;
}


.intro {
    font-style: italic;
    font-size: 18px;
}


hr {
    margin-top: 30px;
    margin-bottom: 30px;
}


.navbar-brand {
    font-weight: bold;
}
